# Machine Learning Model (Decision Tree Regressor)

In [37]:
import os

In [38]:
os.getcwd()

'C:\\Users\\Dell'

In [39]:
os.chdir('C:\\Users\\Dell')

In [40]:
os.getcwd()

'C:\\Users\\Dell'

# Example 2

In [41]:
import numpy as np
import pandas as pd

In [42]:
odi=pd.read_csv("ODI.csv")
odi.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [43]:
odi=odi.drop(columns=["mid","date","venue","runs_last_5","wickets_last_5"])          #Remove Unwanted Columns
odi.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker,total
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,301
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,301
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0,301
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0,301
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0,301

# Step 1

In [44]:
X=odi.drop(columns=["total"])                                                 #Feature variables

In [45]:
X.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0

In [46]:
y=odi["total"]                                                                #Target Variable

In [47]:
y.head()

0    301
1    301
2    301
3    301
4    301
Name: total, dtype: int64

# Rules

# Here we are Using Label Encoding to Convert Categorical to Numeric

In [48]:
X.dtypes

bat_team        object
bowl_team       object
batsman         object
bowler          object
runs             int64
wickets          int64
overs          float64
striker          int64
non-striker      int64
dtype: object

In [49]:
#To convert column of dtype object to int   (Use Featue Engineering Encoding Techniques)

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
label=LabelEncoder()

In [52]:
X["bat_team"]=label.fit_transform(X["bat_team"])
X["bowl_team"]=label.fit_transform(X["bowl_team"])
X["batsman"]=label.fit_transform(X["batsman"])
X["bowler"]=label.fit_transform(X["bowler"])

In [53]:
X.dtypes

bat_team         int32
bowl_team        int32
batsman          int32
bowler           int32
runs             int64
wickets          int64
overs          float64
striker          int64
non-striker      int64
dtype: object

In [54]:
type(X)

pandas.core.frame.DataFrame

In [55]:
X.shape

(350899, 9)

In [56]:
odi.isna().sum()

bat_team       0
bowl_team      0
batsman        0
bowler         0
runs           0
wickets        0
overs          0
striker        0
non-striker    0
total          0
dtype: int64

In [57]:
#We dont need to use Scaling Methods/Feature Scaling for DecisionTreeClassifier and DecisionTreeRegressor

# Step 2

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=21)

In [60]:
# We dont need to use stratify=y for Regression Models

# Step 3

In [61]:
from sklearn.tree import DecisionTreeRegressor

In [62]:
tree=DecisionTreeRegressor()

In [63]:
tree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

# Step 4

# Evaluate

In [65]:
tree.score(X_test,y_test)

0.8804210089330107

# Predict

In [66]:
tree.predict(X_test)

array([208., 272., 225., ..., 315., 214., 201.])

# Predict on New Observations

In [67]:
#For the DataFrame, the Column Name Doesn't matter

In [68]:
data=pd.DataFrame([{0:0,1:0,2:1,3:1,4:55,5:1,6:10.0,7:40,8:12}])

In [69]:
data

   0  1  2  3   4  5     6   7   8
0  0  0  1  1  55  1  10.0  40  12

In [70]:
tree.predict(data)

array([417.])